In [10]:
from nlinec.data.load import load_data
from nlinec.data.preprocessing import get_granularity, get_type, construct_hypothesis

In [11]:
data = load_data('augmented_train.json')
data.head()

793487it [00:10, 76179.62it/s]

,type,mention_span,sentence
0,/other,the history and science of aviation and spacef...,"Located in Washington, D.C., United States, it..."
1,/other,his debut,"The seventh child of the Jackson family, he ma..."
2,/location/country,We,We did not do anything at that time.
3,/location,We,We did not do anything at that time.
4,/other,antibody,`` We don't know the effect of our antibody on...

In [12]:
data['granularity'] = data['type'].apply(get_granularity)
data.head()

,type,mention_span,sentence,granularity
0,/other,the history and science of aviation and spacef...,"Located in Washington, D.C., United States, it...",1
1,/other,his debut,"The seventh child of the Jackson family, he ma...",1
2,/location/country,We,We did not do anything at that time.,2
3,/location,We,We did not do anything at that time.,1
4,/other,antibody,`` We don't know the effect of our antibody on...,1

In [13]:
data['type_granularity_2'] = data['type'].apply(lambda type: get_type(type, 2))
data.dropna(inplace=True, subset=['type_granularity_2'])
data.reset_index(drop=True, inplace=True)
data.head()

,type,mention_span,sentence,granularity,type_granularity_2
0,/location/country,We,We did not do anything at that time.,2,country
1,/other/scientific,antibody,`` We don't know the effect of our antibody on...,2,scientific
2,/location/city,Lisbon,The Visigoths of Spain were defeated when the ...,2,city
3,/other/product,non food crops or inedible waste products,Cellulosic ethanol production uses non food cr...,2,product
4,/other/event/sports_event,traditional games,In caffeehouses around you could see people sm...,3,event

In [14]:
data['hypothesis'] = data.apply(lambda row: construct_hypothesis(row['mention_span'], row['type_granularity_2']), axis=1)
data.head()

,type,mention_span,sentence,granularity,type_granularity_2,hypothesis
0,/location/country,We,We did not do anything at that time.,2,country,We is a country.
1,/other/scientific,antibody,`` We don't know the effect of our antibody on...,2,scientific,antibody is a scientific.
2,/location/city,Lisbon,The Visigoths of Spain were defeated when the ...,2,city,Lisbon is a city.
3,/other/product,non food crops or inedible waste products,Cellulosic ethanol production uses non food cr...,2,product,non food crops or inedible waste products is a...
4,/other/event/sports_event,traditional games,In caffeehouses around you could see people sm...,3,event,traditional games is a event.